<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkkp.modules.product.mapper.ItemSkuMapper" >
  <resultMap id="BaseResultMap" type="com.jkkp.modules.product.model.ItemSku" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="seq" property="seq" jdbcType="BIT" />
    <result column="sku_group_id" property="skuGroupId" jdbcType="INTEGER" />
  </resultMap>
</mapper>