<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkkp.modules.basedata.mapper.SearchWordMapper" >
  <resultMap id="BaseResultMap" type="com.jkkp.modules.basedata.model.SearchWord" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
  </resultMap>
   <select id="top" resultMap="BaseResultMap">
  	select * from search_word where label='index-top'
  </select>
    <select id="hu" resultMap="BaseResultMap">
  	select * from search_word where label='index-huxing'
  </select>
     <select id="feng" resultMap="BaseResultMap">
  	select * from search_word where label='index-fengge'
  </select>
</mapper>