<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkkp.modules.system.mapper.RoleMapper">
	<resultMap id="roleMapper" type="com.jkkp.modules.system.model.Role">
		<!-- WARNING - @mbggenerated -->
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 跟单员 -->
	<resultMap id="VRoleMap" type="com.jkkp.modules.system.view.VRole">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="roleName" property="name" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="handleSum" property="handleSum" jdbcType="INTEGER" />
		<result column="handleSum0" property="handleSum0" jdbcType="INTEGER" />
		<result column="handleSum5" property="handleSum5" jdbcType="INTEGER" />
		<result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="findPagination" resultMap="roleMapper">
		select * from role limit
		${rowStart}, ${limit}
	</select>

	<sql id="condition">
		<if test="id!=null and id!=''">
			AND aa.id=${id}
		</if>
		<if test="nickname!=null and nickname!=''">
			AND aa.nickname LIKE '%${nickname}%'
		</if>
	</sql>

	<select id="findPage" parameterType="java.util.Map" resultMap="VRoleMap">
		SELECT
			rr.name AS roleName,
			IFNULL(app1.cnt,0) AS handleSum,
			IFNULL(app2.cnt,0) AS handleSum5,
			IFNULL(app3.cnt,0) AS handleSum0,
			aa.*
		FROM admin aa
		LEFT
		JOIN role rr ON rr.id=aa.rid
		LEFT JOIN(
			SELECT
			xx.admin_id,COUNT(*) AS cnt
			FROM appointment xx
			GROUP BY xx.admin_id
			)app1 ON app1.admin_id=aa.id
		LEFT JOIN(
			SELECT xx.admin_id,COUNT(*) AS
			cnt
			FROM appointment xx
			WHERE xx.status='5'
			GROUP BY xx.admin_id
			)app2 ON
			app2.admin_id=aa.id
		LEFT JOIN(
			SELECT xx.admin_id,COUNT(*) AS cnt
			FROM
			appointment xx
			WHERE xx.status='0'
			GROUP BY xx.admin_id
			)app3 ON
			app3.admin_id=aa.id
		WHERE 1=1
		AND rr.`id` IN (32,35)
		<include refid="condition" />
		limit #{rowStart}, #{limit}
	</select>

	<select id="countPage" parameterType="java.util.Map" resultType="long">
		SELECT count(1) FROM admin aa
		  	LEFT JOIN role rr ON rr.id=aa.rid
		LEFT JOIN(
			SELECT xx.admin_id,COUNT(*) AS cnt
			FROM appointment xx
			GROUP BY
			xx.admin_id
			)app1 ON app1.admin_id=aa.id
		LEFT JOIN(
			SELECT
			xx.admin_id,COUNT(*) AS cnt
			FROM appointment xx
			WHERE xx.status='5'
			GROUP BY xx.admin_id
			)app2 ON app2.admin_id=aa.id
		LEFT JOIN(
			SELECT
			xx.admin_id,COUNT(*) AS cnt
			FROM appointment xx
			WHERE xx.status='0'
			GROUP BY xx.admin_id
			)app3 ON app3.admin_id=aa.id
		WHERE 1=1
			AND rr.`id` IN (32,35)
			<include refid="condition" />
	</select>

	<select id="selectAllGD" resultMap="VRoleMap">
		SELECT
			a.`nickname` AS
			nickName,
			a.`id` AS id,
			IFNULL(t1.num,0) AS status0
		FROM
		admin a
		LEFT JOIN
			(SELECT
			b.admin_id,
			COUNT(1)AS num FROM appointment b
		WHERE STATUS = 0
			GROUP BY b.admin_id) t1
			ON a.`id` = t1.`admin_id`
		WHERE a.`rid` IN (32,35)
	</select>
</mapper>