<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkkp.modules.sale_theme.mapper.ZcItemMemberMapper">

	<resultMap id="ActivityCardDeals" type="com.jkkp.modules.sale_theme.model.ZcItemMember">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="member_id" property="memberId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
</mapper>