<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkkp.modules.member.mapper.MemberLevelRuleMapper" >
  <resultMap id="BaseResultMap" type="com.jkkp.modules.member.model.MemberLevelRule" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="need_comment" property="needComment" jdbcType="INTEGER" />
    <result column="need_buy_num" property="needBuyNum" jdbcType="INTEGER" />
  </resultMap>
</mapper>