<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkkp.modules.supplier.mapper.StaffComplainMapper">
	<resultMap id="BaseResultMap" type="com.jkkp.modules.supplier.view.VStaffComplain">
		<!-- WARNING - @mbggenerated -->
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sid" property="sid" jdbcType="INTEGER" />
		<result column="admin_id" property="adminId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="mid" property="mid" jdbcType="INTEGER" />
		<result column="bid" property="bid" jdbcType="INTEGER" />
		<result column="tid" property="tid" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="source" property="source" jdbcType="INTEGER" />

		<!-- 拓展属性 -->
		<result column="mnickName" property="mnickName" jdbcType="VARCHAR" />
		<result column="username" property="spName" jdbcType="VARCHAR" />
		<result column="anickName" property="anickName" jdbcType="VARCHAR" />
		<result column="mmobile" property="mmobile" jdbcType="VARCHAR" />
		<result column="smobile" property="smobile" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 设计师,业主投诉 -->
	<select id="selectAllStaffcomplains" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		SELECT
			a.*,
			b.`username`,
			c.`nickname` AS anickName,
			d.`nickname` AS mnickName
		FROM
			staff_complain a
		LEFT JOIN supplier_user b
			ON a.`sid` = b.`id`
		LEFT JOIN admin c
			ON a.`admin_id` = c.`id`
		LEFT JOIN member d
			ON d.`id` = a.`mid`
		where 1=1
			<include refid="condition" />
			ORDER BY a.`create_time` DESC
			limit #{rowStart}, #{limit}
	</select>

	<select id="selectAllStaffcomplainCount" parameterType="java.util.Map"
		resultType="long">
		SELECT
		  count(1)
		FROM
		  staff_complain a
		LEFT JOIN supplier_user b
		  ON a.`sid` = b.`id`
		LEFT JOIN admin c
		  ON a.`admin_id` = c.`id`
		LEFT JOIN member d
		  ON d.`id` = a.`mid`
		  where 1=1
		 <include refid="condition" />
	</select>

	<sql id="condition">
		<if test="type!=null and type!=''">
			AND a.`type`=${type}
		</if>
		
        <if test="mnickName!=null and mnickName!=''">
		     AND d.`nickname` LIKE '%${mnickName}%'
		</if>
	    <if test="snickName!=null and snickName!=''">
	         AND b.`username` LIKE '%${snickName}%'
	    </if>
	    <if test="status!=null and status!=''">
	         AND a.`status`=${status}
	    </if>
	    <if test="level!=null and level!=''">
	        AND a.`level`=${level}
	    </if>	
	    <if test="createBegin!=null and createBegin!=''">
	        AND a.`create_time`>'${createBegin}'
	    </if>
	    <if test="createEnd!=null and createEnd!=''">
	       AND a.`create_time`&lt;'${createEnd}'
	    </if>
	    <if test="updateBegin!=null and updateBegin!=''">
	       AND a.`update_time`>'${updateBegin}'
	    </if>
	    <if test="updateEnd!=null and updateEnd!=''">
	      AND a.`update_time`&lt;'${updateEnd}'
	    </if>
	</sql>

	<!--关闭操作 -->
	<update id="close">
		UPDATE staff_complain SET STATUS=1 WHERE id=#{id}
	</update>

   <select id="detail" resultMap="BaseResultMap">
     SELECT
			a.*,
			b.`username`,
			c.`nickname` AS anickName,
			d.`nickname` AS mnickName,
			d.`mobile` AS mmobile
		FROM
		staff_complain a
		LEFT JOIN supplier_user b
			ON a.`sid` = b.`id`
		LEFT JOIN admin c
			ON a.`admin_id` = c.`id`
		LEFT JOIN member d
			ON d.`id` = a.`mid`
	    where a.id=#{id}
   </select>

</mapper>