<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jkkp.modules.product.mapper.ItemCommentMapper" >
  <resultMap id="BaseResultMap" type="com.jkkp.modules.product.model.ItemComment" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="buy_time" property="buyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="estimate_service" property="estimateService" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="estimate_desc" property="estimateDesc" jdbcType="TINYINT" />
    <result column="estimate_efficiency" property="estimateEfficiency" jdbcType="TINYINT" />
    <result column="package_id" property="packageId" jdbcType="INTEGER" />
    <result column="sp_id" property="spId" jdbcType="INTEGER" />
  </resultMap>
</mapper>